:root {
    --grid: 16;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#controls {
    margin-bottom: 20px;
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 125px;
    height: 50px;
    border-radius: 500px;
    background-color: #ccc;
    border: 0.15em solid currentColor;
    font-size: 1rem;
}

#colorInput {
    height: 50px;
    width: 50px;
    border: 0.15em solid currentColor;
}

#gridControlItem {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#gridControl {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-items {
    border: 0.01px solid #ccc;
    background-color: white;
    user-select: none;
}

#container {
    border: 0.15em solid currentColor;
    width: 750px;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(var(--grid), auto);
    grid-template-rows: repeat(var(--grid), auto);
}


input[type=range] {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    width: 125px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ccc;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    gap: 0.5em;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]::before {
    background-color: CanvasText;
}

input[type="checkbox"]::before {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

#labelGridInput {
    width: 90px;
    font-size: 1rem;
}

#labelGridDrawn {
    width: 90px;
    font-size: 1rem;
    place-content: center;
}

/* The slider itself */
#gridInputSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100px; /* Full-width */
    height: 20px; /* Specified height */
    background: #ccc; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 500px;
    border: 0.15em solid currentColor;
  }
  
  /* Mouse-over effects */
  #gridInputSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #gridInputSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1em; /* Set a specific slider handle width */
    height: 1em; /* Slider handle height */
    background: rgb(102, 102, 102); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 500px;
  }
  
  #gridInputSlider::-moz-range-thumb {
    width: 1em; /* Set a specific slider handle width */
    height: 1em; /* Slider handle height */
    background: rgb(140, 140, 140); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }